services:
  # Backend API (Laravel)
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: app-esportivo-api
    restart: always
    environment:
      APP_ENV: production
      APP_DEBUG: 'false'
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db
    volumes:
      - storage_volume:/var/www/storage

  # Frontend Web (React)
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: app-esportivo-web
    restart: always
    expose:
      - "80"
    depends_on:
      - api

  # Database
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - database_volume:/var/lib/mysql

  # (Opcional) Acesso ao banco para debug
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    expose:
      - "80"
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
      PMA_ABSOLUTE_URI: https://esportivo.techinteligente.site/db/
    depends_on:
      - db

volumes:
  storage_volume:
  database_volume:
