-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: corrida_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `artes_usuarios`
--

DROP TABLE IF EXISTS `artes_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `artes_usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_usuario` int(11) NOT NULL,
  `id_evento` int(11) NOT NULL,
  `imagem_confirmado` varchar(255) DEFAULT NULL,
  `imagem_colocacao` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_evento` (`id_evento`),
  CONSTRAINT `artes_usuarios_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `artes_usuarios_ibfk_2` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artes_usuarios`
--

LOCK TABLES `artes_usuarios` WRITE;
/*!40000 ALTER TABLE `artes_usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `artes_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categorias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `nome` varchar(150) NOT NULL,
  `descricao` text DEFAULT NULL,
  `sexo` enum('masculino','feminino','misto') DEFAULT 'misto',
  `preco` decimal(10,2) DEFAULT NULL,
  `permite_individual` tinyint(1) DEFAULT 1,
  `permite_equipes` tinyint(1) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `fk_categoria_evento` (`id_evento`),
  CONSTRAINT `categorias_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_categoria_evento` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (9,10,'5km Geral',NULL,'misto',150.00,1,0,1),(10,11,'5km Geral',NULL,'misto',150.00,1,0,1),(11,10,'10km Geral',NULL,'misto',177.00,1,0,1),(26,19,'5K Masculino',NULL,'masculino',50.00,1,0,1),(27,19,'5K Feminino',NULL,'feminino',50.00,1,0,1);
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `checkins`
--

DROP TABLE IF EXISTS `checkins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `checkins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_inscricao` int(11) NOT NULL,
  `data_checkin` datetime DEFAULT current_timestamp(),
  `retirou_kit` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `id_inscricao` (`id_inscricao`),
  CONSTRAINT `checkins_ibfk_1` FOREIGN KEY (`id_inscricao`) REFERENCES `inscricoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `checkins`
--

LOCK TABLES `checkins` WRITE;
/*!40000 ALTER TABLE `checkins` DISABLE KEYS */;
/*!40000 ALTER TABLE `checkins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracoes`
--

DROP TABLE IF EXISTS `configuracoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `chave` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `categoria` varchar(50) DEFAULT NULL,
  `descricao` varchar(255) DEFAULT NULL,
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `chave` (`chave`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracoes`
--

LOCK TABLES `configuracoes` WRITE;
/*!40000 ALTER TABLE `configuracoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cupons`
--

DROP TABLE IF EXISTS `cupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cupons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `codigo` varchar(20) NOT NULL,
  `tipo` enum('percentual','fixo') NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `uso_maximo` int(11) DEFAULT NULL,
  `uso_atual` int(11) DEFAULT 0,
  `valido_de` datetime NOT NULL,
  `valido_ate` datetime NOT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unico_por_evento` (`id_evento`,`codigo`),
  CONSTRAINT `cupons_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cupons`
--

LOCK TABLES `cupons` WRITE;
/*!40000 ALTER TABLE `cupons` DISABLE KEYS */;
INSERT INTO `cupons` VALUES (3,10,'DESCONTO10','percentual',10.00,10,0,'0000-00-00 00:00:00','2026-01-01 08:00:00',1),(4,11,'DESCONTO10','percentual',10.00,1,1,'0000-00-00 00:00:00','2026-01-01 08:00:00',1);
/*!40000 ALTER TABLE `cupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipes`
--

DROP TABLE IF EXISTS `equipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `equipes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `id_lider` int(11) NOT NULL,
  `nome` varchar(150) NOT NULL,
  `limite_participantes` int(11) DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_evento` (`id_evento`),
  KEY `id_lider` (`id_lider`),
  CONSTRAINT `equipes_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `equipes_ibfk_2` FOREIGN KEY (`id_lider`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipes`
--

LOCK TABLES `equipes` WRITE;
/*!40000 ALTER TABLE `equipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(200) NOT NULL,
  `descricao` text DEFAULT NULL,
  `local_evento` varchar(255) DEFAULT NULL,
  `data_evento` datetime NOT NULL,
  `tipo_evento` enum('corrida','bike','mtb','trilha','natacao','escalada','crossfit','outro') NOT NULL,
  `permite_equipes` tinyint(1) DEFAULT 0,
  `banner` varchar(255) DEFAULT NULL,
  `regulamento` varchar(255) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
INSERT INTO `eventos` VALUES (10,'Corrida de Teste','essa descri├º├úo ├® de teste','Toledo - PR','2026-03-01 08:00:00','corrida',1,NULL,NULL,1,'2025-11-29 12:28:54'),(11,'testando bike','dasdas','Toledo - PR','2026-10-03 08:00:00','bike',1,NULL,NULL,1,'2025-11-29 15:01:35'),(19,'Corrida de Teste 5Km','Evento de teste para valida├º├úo do sistema','Parque Central - Toledo/PR','2025-12-15 07:00:00','corrida',0,NULL,NULL,1,'2025-11-30 22:20:02');
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscricao_produtos`
--

DROP TABLE IF EXISTS `inscricao_produtos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscricao_produtos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_inscricao` int(11) NOT NULL,
  `id_produto_variante` int(11) DEFAULT NULL,
  `id_produto` int(11) DEFAULT NULL,
  `tamanho` varchar(20) DEFAULT NULL,
  `quantidade` int(11) NOT NULL DEFAULT 1,
  `valor_unitario` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_inscricao` (`id_inscricao`),
  KEY `id_produto_variante` (`id_produto_variante`),
  KEY `id_produto` (`id_produto`),
  CONSTRAINT `inscricao_produtos_ibfk_1` FOREIGN KEY (`id_inscricao`) REFERENCES `inscricoes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inscricao_produtos_ibfk_2` FOREIGN KEY (`id_produto_variante`) REFERENCES `produto_variantes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `inscricao_produtos_ibfk_3` FOREIGN KEY (`id_produto`) REFERENCES `produtos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscricao_produtos`
--

LOCK TABLES `inscricao_produtos` WRITE;
/*!40000 ALTER TABLE `inscricao_produtos` DISABLE KEYS */;
INSERT INTO `inscricao_produtos` VALUES (5,69,7,2,'M',1,50.00),(6,70,7,2,'M',1,50.00),(7,70,7,2,'M',1,50.00);
/*!40000 ALTER TABLE `inscricao_produtos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscricoes`
--

DROP TABLE IF EXISTS `inscricoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inscricoes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` varchar(50) DEFAULT NULL,
  `id_usuario` int(11) NOT NULL,
  `id_usuario_cadastrou` int(11) DEFAULT NULL,
  `id_evento` int(11) NOT NULL,
  `id_categoria` int(11) NOT NULL,
  `id_subcategoria` int(11) DEFAULT NULL,
  `id_equipe` int(11) DEFAULT NULL,
  `tipo` enum('individual','equipe') DEFAULT 'individual',
  `status_pagamento` enum('pendente','pago','cancelado') DEFAULT 'pendente',
  `valor` decimal(10,2) NOT NULL,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_evento` (`id_evento`),
  KEY `id_categoria` (`id_categoria`),
  KEY `id_equipe` (`id_equipe`),
  KEY `idx_cadastrou` (`id_usuario_cadastrou`),
  KEY `idx_order_id` (`order_id`),
  KEY `inscricoes_ibfk_1` (`id_usuario`),
  KEY `fk_inscricoes_subcategoria` (`id_subcategoria`),
  CONSTRAINT `fk_inscricoes_cadastrou` FOREIGN KEY (`id_usuario_cadastrou`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_inscricoes_subcategoria` FOREIGN KEY (`id_subcategoria`) REFERENCES `subcategorias` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `inscricoes_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inscricoes_ibfk_2` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `inscricoes_ibfk_3` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id`),
  CONSTRAINT `inscricoes_ibfk_5` FOREIGN KEY (`id_equipe`) REFERENCES `equipes` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscricoes`
--

LOCK TABLES `inscricoes` WRITE;
/*!40000 ALTER TABLE `inscricoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `inscricoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotes`
--

DROP TABLE IF EXISTS `lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lotes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `nome` varchar(100) NOT NULL,
  `preco` decimal(10,2) NOT NULL,
  `data_inicio` datetime NOT NULL,
  `data_fim` datetime NOT NULL,
  `quantidade_maxima` int(11) DEFAULT NULL,
  `quantidade_vendida` int(11) DEFAULT 0,
  `ativo` tinyint(1) DEFAULT 1,
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lote_periodo` (`id_evento`,`data_inicio`,`data_fim`),
  KEY `idx_periodo` (`data_inicio`,`data_fim`),
  KEY `idx_ativo` (`ativo`),
  CONSTRAINT `lotes_ibfk_1` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotes`
--

LOCK TABLES `lotes` WRITE;
/*!40000 ALTER TABLE `lotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagamentos`
--

DROP TABLE IF EXISTS `pagamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagamentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_inscricao` int(11) NOT NULL,
  `gateway` enum('mercadopago','asaas','pagseguro','pix_manual','courtesy') NOT NULL,
  `metodo_pagamento` enum('pix','boleto','cartao') DEFAULT NULL,
  `pix_qrcode_url` text DEFAULT NULL,
  `pix_payload` text DEFAULT NULL,
  `boleto_url` varchar(255) DEFAULT NULL,
  `boleto_linha_digitavel` varchar(255) DEFAULT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `valor_pago` decimal(10,2) NOT NULL,
  `status` enum('pendente','aprovado','reembolsado','cancelado') DEFAULT 'pendente',
  `payload` longtext DEFAULT NULL COMMENT 'JSON completo do webhook',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `atualizado_em` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_inscricao` (`id_inscricao`),
  CONSTRAINT `pagamentos_ibfk_1` FOREIGN KEY (`id_inscricao`) REFERENCES `inscricoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagamentos`
--

LOCK TABLES `pagamentos` WRITE;
/*!40000 ALTER TABLE `pagamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produto_variantes`
--

DROP TABLE IF EXISTS `produto_variantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produto_variantes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_produto` int(11) NOT NULL,
  `tamanho` varchar(20) NOT NULL,
  `estoque` int(11) NOT NULL DEFAULT 0,
  `valor_adicional` decimal(10,2) DEFAULT 0.00,
  `ativo` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unico_tamanho` (`id_produto`,`tamanho`),
  CONSTRAINT `produto_variantes_ibfk_1` FOREIGN KEY (`id_produto`) REFERENCES `produtos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produto_variantes`
--

LOCK TABLES `produto_variantes` WRITE;
/*!40000 ALTER TABLE `produto_variantes` DISABLE KEYS */;
INSERT INTO `produto_variantes` VALUES (3,1,'P',10,5.00,1),(4,1,'M',10,10.00,1),(7,2,'M',100,0.00,1),(8,2,'P',100,0.00,1),(9,4,'M',10,10.00,1),(10,4,'P',10,5.00,1);
/*!40000 ALTER TABLE `produto_variantes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produtos`
--

DROP TABLE IF EXISTS `produtos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produtos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_evento` int(11) NOT NULL,
  `nome` varchar(150) NOT NULL,
  `descricao` text DEFAULT NULL,
  `valor_base` decimal(10,2) NOT NULL DEFAULT 0.00,
  `tipo` enum('venda','brinde','ambos') NOT NULL DEFAULT 'venda',
  `limite_por_pessoa` int(11) DEFAULT NULL,
  `ativo` tinyint(1) DEFAULT 1,
  `criado_em` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_evento` (`id_evento`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produtos`
--

LOCK TABLES `produtos` WRITE;
/*!40000 ALTER TABLE `produtos` DISABLE KEYS */;
INSERT INTO `produtos` VALUES (1,10,'Camiseta Oficial Dry-Fit','',30.00,'ambos',1,1,'2025-11-29 09:28:54'),(2,11,'Camiseta Oficial Dry-Fit','',50.00,'brinde',NULL,1,'2025-11-29 12:01:35'),(3,11,'Pipoca','',5.00,'venda',NULL,1,'2025-12-11 15:13:08'),(4,21,'Camiseta Oficial Dry-Fit','',30.00,'ambos',1,1,'2025-12-11 17:02:01');
/*!40000 ALTER TABLE `produtos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resultados`
--

DROP TABLE IF EXISTS `resultados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resultados` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_inscricao` int(11) NOT NULL,
  `tempo` varchar(20) DEFAULT NULL,
  `posicao` int(11) DEFAULT NULL,
  `posicao_categoria` int(11) DEFAULT NULL,
  `posicao_subcategoria` int(11) DEFAULT NULL,
  `id_evento` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_inscricao` (`id_inscricao`),
  KEY `fk_resultados_id_evento` (`id_evento`),
  CONSTRAINT `fk_resultados_evento` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_resultados_id_evento` FOREIGN KEY (`id_evento`) REFERENCES `eventos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `resultados_ibfk_1` FOREIGN KEY (`id_inscricao`) REFERENCES `inscricoes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resultados`
--

LOCK TABLES `resultados` WRITE;
/*!40000 ALTER TABLE `resultados` DISABLE KEYS */;
INSERT INTO `resultados` VALUES (13,55,'00:18:47',1,1,1,19),(14,56,'00:19:15',2,2,2,19),(15,58,'00:20:01',3,3,3,19),(16,57,'00:20:26',4,4,1,19),(17,59,'00:21:08',5,5,2,19),(18,60,'00:22:33',6,1,1,19),(19,63,'00:23:18',7,2,2,19),(20,61,'00:24:05',8,3,1,19),(21,62,'00:24:51',9,4,2,19),(22,64,'00:25:33',10,5,3,19);
/*!40000 ALTER TABLE `resultados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subcategorias`
--

DROP TABLE IF EXISTS `subcategorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subcategorias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_categoria` int(11) NOT NULL,
  `nome` varchar(150) NOT NULL,
  `idade_min` int(11) DEFAULT NULL,
  `idade_max` int(11) DEFAULT NULL,
  `sexo` enum('masculino','feminino','misto') DEFAULT 'misto',
  `ativo` tinyint(1) DEFAULT 1,
  `limite` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_subcat_categoria` (`id_categoria`),
  CONSTRAINT `fk_subcat_categoria` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `subcategorias_ibfk_1` FOREIGN KEY (`id_categoria`) REFERENCES `categorias` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcategorias`
--

LOCK TABLES `subcategorias` WRITE;
/*!40000 ALTER TABLE `subcategorias` DISABLE KEYS */;
INSERT INTO `subcategorias` VALUES (10,9,'Joven',18,29,'misto',1,NULL),(11,9,'Experiente',30,59,'misto',1,100),(12,10,'Joven',18,29,'misto',1,100),(13,10,'Experiente',30,49,'misto',1,100),(14,11,'Experiente',30,59,'misto',1,NULL),(43,26,'Sub-30 Masculino',18,29,'masculino',1,NULL),(44,26,'30-39 Masculino',30,39,'masculino',1,NULL),(45,27,'Sub-30 Feminino',18,29,'feminino',1,NULL),(46,27,'30-39 Feminino',30,39,'feminino',1,NULL);
/*!40000 ALTER TABLE `subcategorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nome` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `cpf` varchar(20) DEFAULT NULL,
  `data_nascimento` date DEFAULT NULL,
  `sexo` enum('masculino','feminino') DEFAULT NULL,
  `telefone` varchar(30) DEFAULT NULL,
  `endereco` text DEFAULT NULL,
  `foto` varchar(255) DEFAULT NULL,
  `tipo` enum('admin','atleta') DEFAULT 'atleta',
  `criado_em` timestamp NOT NULL DEFAULT current_timestamp(),
  `recovery_code` varchar(6) DEFAULT NULL,
  `recovery_expires` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-11 18:12:27
